/**
 Basic Portfolio CSS Stylesheet
 **/



body{
    background: url("../images/memphis-mini.png"); 
    padding: 0;
    margin: 0;      
}

.nav-bar {
    background-color: #ffffff;
    border-color: #cccccc;
    text-align: left;
    border-style: solid;
    border-width: 0 0 1px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 40px;
    padding: 30px 0 0 0;
}

h1{
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #ffffff;
    background-color: #4aaaa5;
    padding: 40px;
    margin: 0px auto 0px;
    
}

ul{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    list-style-type: none;
    text-align: right;  
    margin: auto;
    margin-left: -150px;
}

li{
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    border-left: 1px solid #cccccc;
}

li:first-child{
    border-left: 0 none;
}

li:

a:link {
    text-decoration: none;
}
  
a:visited {
    text-decoration: none;
}
  
a:hover {
    text-decoration: underline;
    color: #48B873;
}
  
a:active {
    text-decoration: underline;
    color: #4882B8;
}

.content{
    background-color: #ffffff;
    border-color: #dddddd;
    width: 960px;
    margin: 0 auto 80px;
    border-style: solid; 
}

h2{
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
    border-style: solid;
    border-width: 0 0 3px 0;
    border-color: #dddddd;
    margin: 0 40px 0 40px;
    padding: 40px 0 40px 0;
}

#bio-image {
    float: left;
    margin: 0 15px 0px 40px;
    padding: 40px 0 0px 0;
    width: 200px;
    height: 200px;
}

#bio{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    margin: 40px;
}

#input{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    margin: 0 40px 40px 40px;
    padding: 25px 0 0px 0;
}

input{
    width: 100%;
}

.message-input{
    height: 150px;  
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    width: 100%;
}

.submit-button{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #ffffff;
    background-color: #4aaaa5;
    border: none;
    padding: 8px 20px 8px 20px;
    width: 100px;
}

.submit-button:hover {
    color: rgb(184, 72, 137);
}
  
.submit-button:active {
    color: #4882B8;
}

#eat-cake, #pic1, #pic2, #pic3, #pic4{
    margin: 40px 40px 0px 40px;
    padding: 0px 0 0px 0;
    text-align: center;
    width: 250px;
}

#eat-cake-caption{
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color: #4aaaa5;
    color: #ffffff;
    margin: -60px 40px 40px 40px;
    padding: 15px 0;
    text-align: center;
    width: 250px;
    position: absolute;
}

#pic1-caption{
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color: #4aaaa5;
    color: #ffffff;
    margin: -60px 40px 40px 374px;
    padding: 15px 0;
    text-align: center;
    width: 250px;
    position: absolute;
}

#pic2-caption{
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color: #4aaaa5;
    color: #ffffff;
    margin: -60px 40px 40px 40px;
    padding: 15px 0;
    text-align: center;
    width: 250px;
    position: absolute;
}

#pic3-caption{
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color: #4aaaa5;
    color: #ffffff;
    margin: -60px 40px 40px 374px;
    padding: 15px 0;
    text-align: center;
    width: 250px;
    position: absolute;
}

#pic4-caption{
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color: #4aaaa5;
    color: #ffffff;
    margin: -60px 40px 40px 40px;
    padding: 15px 0;
    text-align: center;
    width: 250px;
    position: absolute;
}
    
.footer{
    background-color: #666666;
    border-color: #4aaaa5;
    color: #ffffff;
    border-style: solid;
    border-width: 8px 0 0 0;
    text-align: center;
    overflow: hidden;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
